/* Styles pour centrer le contenu et définir l'aspect du texte */
#text-container {
    font-size: 2em;
    text-align: center;
    color: burlywood;
    /* font-weight: bold; */
}

/* Style du curseur clignotant */
.cursor {
    display: inline-block;
    width: 2px;
    height: 1em;
    background-color: white;
    animation: blink 1s steps(2, start) infinite;
}

.salutations-text {
    font-size: 2rem;
    /* Taille par défaut */
}
.salutations-emoji {
    font-size: 2rem;
    /* Taille par défaut */
}

@media (max-width: 768px) {
    .salutations-text {
        font-size: 5.5vw;
        /* Taille réduite pour les écrans de moins de 768px de large */
    }
    .cursor{
        height: 0.7em;
    }
        .salutations-emoji {
            font-size: 6vw;
            /* Taille par défaut */
        }
}

@media (min-width: 768px) and (max-width: 1024px) {
    .salutations-text {
        font-size: 3vw;
        /* Taille réduite pour les écrans de tablette */
    }

    .salutations-emoji {
        font-size: 2.5vw;
        /* Taille réduite pour les écrans de tablette */
    }
}

@keyframes blink {

    0%,
    100% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }
}

/* Vous pouvez ajouter des styles supplémentaires pour le body ou autres éléments
   dans votre fichier CSS global ou dans un autre module de style */