/* splash.css */
.splash-screen {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: burlywood;
    /* ou n’importe quelle couleur */
    z-index: 9999;
    /* pour être au-dessus de tout */
}

/* petit loader circulaire */
.splash-loader {
    width: 30px;
    height: 30px;
    border: 4px solid #ccc;
    border-top-color: #000;
    border-radius: 50%;
    animation: spin 1s infinite linear;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}